@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fe3455;
}
.box {
  position: relative;
  width: 450px;
  height: 550px;
  padding: 30px 50px;
  border-radius: 2%;
  box-shadow: 25px 25px 75px rgba(255, 255, 255, 0.25),
    10px 10px 70px rgba(255, 255, 255, 0.25),
    inset 5px 5px 10px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px -20px rgb(254, 52, 85, 0.2),
    inset -5px -5px 10px -15px rgba(255, 255, 255, 0.25);
}
h2 {
  width: 100%;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 1.75em;
  margin-bottom: 20px;
}
#inputBox {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.box {
  position: relative;
}
.box li {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(221, 9, 9, 0.3);
  margin: 15px 0;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 50px;
  min-height: 45px;
  cursor: pointer;
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  color: white;
}

.box li i {
  position: absolute;
  right: -45px;
  width: 30px;
  height: 30px;
  background-color: #f0729c;
  border-radius: 50%;
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box li i::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
}

.box li i::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: white;
  transform: rotate(-45deg);
}
/* .modal {
  width: 300px;
  background-color: #fe3455;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 40px;
  bottom: 100px;
  margin-left: -10px;
}
.modal input {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}
.modal i {
  position: absolute;
  right: -40px;
  width: 30px;
  height: 30px;
  background-color: #f0729c;
  border-radius: 50%;
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal i::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
}

.modal i::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: white;
  transform: rotate(-45deg);
} */

.box li::before {
  content: "";
  position: absolute;
  left: 8px;
  width: 30px;
  height: 30px;
  background: #cbfab8;
  border-radius: 50%;
}

.box li.done {
  background: red;
}

.box li.done::after {
  content: "";
  position: absolute;
  left: 16px;
  width: 12px;
  height: 6px;
  border-left: 2px solid rgb(211, 20, 20);
  border-bottom: 2px solid rgb(211, 20, 20);
  transform: rotate(315deg);
}

#list {
  position: relative;
  margin-top: 20px;
  height: 350px;
  overflow-y: auto;
  padding-right: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset rgba(221, 9, 9, 0.3);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.692);
}
.row {
  display: flex;
  justify-content: space-between;
  background: transparent;
  outline: none;
}

.add {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: 10px;
  width: 55px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
    inset 0 0 4px rgba(255, 255, 255, 0.5),
    inset -2px 0 2px rgba(255, 255, 255, 0.5);
}
.add img {
  margin: 3px 0 14px 0;
  position: absolute;
  filter: invert(83%) sepia(32%) saturate(40%) hue-rotate(326deg)
    brightness(100%) contrast(91%);
}
.hidden {
  display: none;
}

/* .add {
  width: 30px;
  /* height: 30px;
  position: absolute;
  left: 40%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-image: url(plus.png);

  background-position: center;
  padding: 10px;
  background: #f0729c;
  color: white;
  border: none;
  outline: none;
} */
/* button:hover {
  background: #4b011a;
} */
